<section class="login">
  <div class="login-page">
      <div class="login-form" center>
          <div>
              <p class="titule">INGRESA TU CUENTA STARPASS</p>
          </div>
         
          <div class="iconsSocialNetworks">
              <a class="btn btn-social" href="#!"><i class="fab fa-facebook fa-4x"></i></a>
              <a class="btn btn-social" href="#!"><i class="fab fa-instagram fa-4x"></i></a>
              <a class="btn btn-social" href="#!"><i class="fab fa-twitter fa-4x"></i></a>
          </div>
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Correo Electrónico </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="Enter email">
              </div>
              <br>
              <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <br>
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <br>
              <br>
              <button   class="login-buton" type="submit">ENTRAR A TU CUENTA</button>
          </form>
      </div>
  </div>
</section>