*{
    margin: 0;
    padding: 0;
}


    .body {
    background-color: #010038;
    background-image: linear-gradient(180deg, #010038 12%, #45046a 50%, #872657 100%);
    ;
}  

.menu{

    background-color: #010038;
    
}

.Logo{
    height: 90px;
    width: 150%;
}
.iconUser{
    margin-right: 18px;
    margin-top: 2%;
    color: white;
}
    .nav-item{
        padding: 1px;
        font-size: 117%;
        margin-right: 20px;
    }

    .row:hover{
        transform: scale(1.05)     
    }
    .container-fluid:hover{
        transform: scale(1.05) 
    }

    .navbar {
        justify-content: space-between;
        padding-top: .7rem;
        padding-bottom: .5rem;
        padding-left: 30px;
    }

    li{
        list-style: none;
        transform: translateX(-21px);
        text-align: center;
        transition: all.7;
        cursor: pointer;
        font-family: 'PT Serif', serif;
        font-size: 3%;
    }
    button,
    i {
        color: rgb(199, 189, 207);
    }

    h2{
        font-family: 'PT Serif', serif;

    }


.title {
    color: white;
    font-family: "League Gothic", sans-serif;
    margin-right: 13%; 

}

body{
    color:rgb(0, 0, 0);
    background-color: #000000;
    font-size: 15px;
  }

.container-fluid:hover {
     margin-right: auto;
     margin-left: auto;
}
.table-striped {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px
}
.card {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 30px 30px 30px 30px

    
}

.style {
    background-color: #010038;
    background-image: linear-gradient(180deg, #010038 12%, #45046a 50%, #872657 100%);
}
