*{
    margin: 0;
    padding: 0;

}




.menu{

    background-color: #010038;
    
}

.Logo{
    height: 90px;
    width: 150%;
}
.iconUser{
    margin-right: 18px;
    margin-top: 2%;
    color: white;
}
    .nav-item{
        padding: 1px;
        font-size: 117%;
        margin-right: 20px;
    }

    .row:hover{
        transform: scale(1.05)     
    }
    .container-fluid:hover{
        transform: scale(1.05) 
    }

    .navbar {
        justify-content: space-between;
        padding-top: .7rem;
        padding-bottom: .5rem;
        padding-left: 30px;
    }

    li{
        list-style: none;
        transform: translateX(-21px);
        text-align: center;
        transition: all.7;
        cursor: pointer;
        font-family: 'PT Serif', serif;
        font-size: 3%;
    }
    button,
    i {
        color: rgb(199, 189, 207);
    }

    h2{
        font-family: 'PT Serif', serif;

    }


.title {
    color: white;
    font-family: "League Gothic", sans-serif;
    margin-right: 3%; 

}

body{
    color:rgb(0, 0, 0);
    background-color: #000000;
    font-size: 15px;
  }

.container-fluid:hover {
     margin-right: auto;
     margin-left: auto;
}
.table-striped {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px    ;
    margin-top: 15%;
    box-shadow: 20px 20px 25px black;
}
.table-striped th{
    color: #45046a;
    font-family: "League Gothic", sans-serif;
}

.table-striped th:hover{
    color:#872657;
}
.card-body h4{
    margin-right: 9%;
    color: #010038;
    font-weight: bold;
    font-family: "League Gothic", sans-serif;
}

.card-body h4:hover{
    color:#872657;
}
.card-body p{
    color:black;
    font-weight: 400;
    font-family: "League Gothic", sans-serif;

}




.card {
    margin-right: auto;
    margin-left: auto;
    background-color: #f0b6d3;
    margin-top: 1%;
    border-radius: 10px 10px 10px 10px    ;
    box-shadow: 20px 20px 25px black;
}

.style {
    background-color: #010038;
    background-image: linear-gradient(180deg, #010038 12%, #45046a 50%, #872657 100%);

    height: 990px;
}
.card-text i{
    color:indianred
    

}
.card-text i:hover{
    color: #47a13b;
}
.btn{
    font-weight: 600;
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
