<div class="style">
<nav class="navbar navbar-expand-sm navbar-dark menu">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img class="Logo"  src="../../../assets/img/logitipo.png" alt="" width="416" height="66">
    </a>

    <h1 class="title">Carrito De Compras</h1>

    <button class="navbar-toggler"
    type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toogle navigation">

    <span class="navbar-toggler-icon"></span>
    </button>
    
    <nav class="listaMenu">
        <div class="iconUser"><i class="far fa-user-circle fa-3x" style="color: #F8F8F8;"></i></div>
        <form class="container-fluid justify-content-start">
        </form>
    </nav>

    

    
    



