.card {
  background:  linear-gradient(180deg, #872657 0%, #010038 100%);
  font-family: Arial, Helvetica, sans-serif;
  size: 100%;
  height: 180vh;
  margin: 0;

}
.text-center{
  font-weight:400;
  
  font-family: "League Gothic", sans-serif;
}


.container {
  background: #fff !important;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h6.text-muted {
  color: #010038 !important
}

h4.text-danger {
  margin-left: 250px;
  color: #f11126 !important
}

.htwo {
  margin-left: 200px
}

.scol {
  padding-left: 60px
}

.row.r2 {
  margin-bottom: 20px
}

.row.r2:after {
  content: '.';
  font-size: 0;
  display: block;
  height: 1px;
  width: 77%;
  background: #a9abae3d;
}

h3.payment {
  margin-top: 30px;
  color: #010038;
}

h6.payment-method {
  margin-top: 30px;
  color: #010038;
}

.r5.col-2 {
  padding-left: 0;
}

div.col-2 {
  cursor: pointer
}

.personalDetails {
  margin-right: 100px;
  padding-top: 30px;
}

.form-control {
  border: none;
  border-radius: none;
  border-bottom: 1px solid #a9abae3d;
}

.form-control:focus {
  border: none;
  color: #000 !important;
  font-weight: bold;
  border-color: #fff;
  border-bottom: 1px solid #a9abae3d;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, .25)
}

.far {
  color: #adb5bd;
}

.th {
  margin-top: 10px;
}

.pagar{
  border: none;
  border-radius: 40px;
  width: 40%;
  background-color: linear-gradient (180deg, #872657 0%, #010038 100%);
}

@media screen and (max-width: 1200px) {
  .rcol {
      width: 100%;
  }

  .scol {
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
      width: 95%;
  }

  .row.r2:after {
      width: 95%;
  }
}

.icon-user {
  position: absolute;
  top: 161.5%;
  left: 710px;
}

.icon-card {
  position: absolute;
  top: 167%;
  left: 710px;
}

.icon-calendar {
  position: absolute;
  top: 172%;
  left: 712px;
}

/* Entérate de nuestras últimas novedades en la sección de eventos */
.icon-key {
  position: absolute;
  top: 172%;
  left: 980px;
}


.green-icon input {
  color: #198754;
}
.green-icon {
  color: #198754;
}

.red-icon input {
  color: #dc3545;
}

.red-icon {
  color: #dc3545;
}


.section-target {
  border-left: 1px solid #c1c2c2;
  border-right: 1px solid #dedfdf;
}

.btn-enviar {
  border: 2px solid ;
  font-size: 18px;
  height: 50px;
  width: 80%;
  padding: 5px 12px;
  transition: .3s ease all;
  border-radius: 5px;
  background: linear-gradient(180deg, #872657 0%, #010038 100%);
  color: #fff;
  
}

.row {
  color: #010038;
}

.imagen {
  border-radius: 20px;
}
.tarjeta {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/
.contenedor {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 6%;
	
}

.tarjeta .delantera {
	width: 100%;
	background: url(../../../assets/img/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

