
    <!-- Formulario -->
    <form action="" id="formulario-tarjeta" class="formulario-tarjeta">
        <div class="grupo">
            <label for="inputNumero">Número Tarjeta</label>
            <input type="text" id="inputNumero" maxlength="19" autocomplete="off">
        </div>
        <div class="grupo">
            <label for="inputNombre">Nombre</label>
            <input type="text" id="inputNombre" maxlength="19" autocomplete="off">
        </div>
        <div class="flexbox">
            <div class="grupo expira">
                <label for="selectMes">Expiracion</label>
                <div class="flexbox">
                    <div class="grupo-select">
                        <select name="mes" id="selectMes">
                            <option disabled selected>Mes</option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                    <div class="grupo-select">
                        <select name="year" id="selectYear">
                            <option disabled selected>Año</option>
                        </select>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>

            <div class="grupo ccv">
                <label for="inputCCV">CCV</label>
                <input type="text" id="inputCCV" maxlength="3">
            </div>
        </div>
        <button type="submit" class="btn-enviar">Enviar</button>
    </form>
    <br>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="../formulario-pago/formulario.js"></script>
