
<body>
    <div class="card">
  <form>
    
    <div class="container m-5 mx-auto">
      <div class="row main">
        <div class="col-lg-6 col-12 rcol">
          <h3 class="product text-center mt-3">ZONA DE PAGO</h3>
          <div class="image text-center">
            <img
              src="https://i.pinimg.com/564x/d0/b9/93/d0b99307ab38c18a87a065c29f924f5b.jpg"
              width="400px"
              height="350px"
              class="imagen"
            />
          </div>
          <br><br>
          <p class="text-center mb-5">
            StarPass da como prioridad la seguridad de nuestros clientes
            <br />por esto nos abstenemos de utilizar su información solo para
            su compra, <br />
            para mayor información visite nuetras, <br />
            <a [routerLink]="['/policies-and-privacy']"
              >politicas y privacidad</a
            >
          </p>
        </div>
        <div class="col-lg-6 col-12 scol mt-5 section-target">
          <div class="row">
            <h6 class="text-muted">Información de pago:</h6>
          </div>
          <div class="row">
            <h6>Dígite la información requerida</h6>
          </div>
          <div class="row r3">
            <h3 class="payment">MÉTODOS DE PAGO</h3>
          </div>
          <!-- <div *ngIf="Loading" class="spinner-border text-success ml-5" role="status">
              <span class="visually-hidden">Loading...</span>
            </div> -->
          <div class="row">
            <h6 class="payment-method">Seleccione el método de pago:</h6>
          </div>
          <div class="row r5">
            <div class="col-2">
              <img
                src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
              />
            </div>
            <div class="col-2">
              <img src="https://img.icons8.com/color/48/000000/visa.png" />
            </div>
            <div class="col-2">
              <img src="https://img.icons8.com/color/48/000000/paypal.png" />
            </div>
          </div>
          <div class="row r3">
            <div class="form-group">
              <!-- <i class="fas fa-user-circle icon-user"
                    [class.green-icon]="this.form.get('titular')?.valid"
                    [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched">
                  </i> -->
              <input
                type="text"
                class="form-control"
                [class.green-icon]="this.form.get('titular')?.valid"
                [class.red-icon]="
                  this.form.get('titular')?.invalid &&
                  this.form.get('titular')?.touched
                "
                formControlName="titular"
                placeholder="Nombre del titular de la tarjeta"
              />
            </div>
            <div class="form-group">
              <!-- <i class="fas fa-credit-card icon-card"
                    [class.green-icon]="this.form.get('numberTarget')?.valid"
                    [class.red-icon]="this.form.get('numberTarget')?.invalid && this.form.get('numberTarget')?.touched">
                  </i> -->
              <input
                type="text"
                class="form-control"
                [class.green-icon]="this.form.get('numberTarget')?.valid"
                [class.red-icon]="
                  this.form.get('numberTarget')?.invalid &&
                  this.form.get('numberTarget')?.touched
                "
                formControlName="numberTarget"
                placeholder="Numero de tarjeta"
                maxlength="16"
              />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-4">
                  <!-- <i class="fas fa-calendar-alt icon-calendar"
                        [class.green-icon]="this.form.get('dateExpedition')?.valid"
                        [class.red-icon]="this.form.get('dateExpedition')?.invalid && this.form.get('dateExpedition')?.touched">
                      </i> -->
                  <input
                    type="text"
                    class="form-control"
                    [class.green-icon]="this.form.get('dateExpedition')?.valid"
                    [class.red-icon]="
                      this.form.get('dateExpedition')?.invalid &&
                      this.form.get('dateExpedition')?.touched
                    "
                    formControlName="dateExpedition"
                    placeholder="MM/AAAA"
                    maxlength="7"
                  />
                </div>
                <div class="col-4 offset-2">
                  <!-- <i class="fas fa-key icon-key"
                        [class.green-icon]="this.form.get('cvv')?.valid"
                        [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched">
                      </i> -->
                  <input
                    type="password"
                    class="form-control"
                    [class.green-icon]="this.form.get('cvv')?.valid"
                    [class.red-icon]="
                      this.form.get('cvv')?.invalid &&
                      this.form.get('cvv')?.touched
                    "
                    formControlName="cvv"
                    placeholder="CCV"
                    maxlength="3"
                  />
                </div>
              </div>
            </div>
         
            <br class="br" />
            <!-- <button [disabled]="form.invalid" type="submit" class="pagar"><h5>PAGAR</h5></button> -->
        
            <button type="submit" class="btn-enviar" (click)="crearPdf()">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="contenedor">
    <!-- Tarjeta -->
    <section class="tarjeta" id="tarjeta">
        <div class="delantera">
            <div class="logo-marca" id="logo-marca">
                <img src="../../../assets/img/visa.png" alt="">
            </div>
            <img src="../../../assets/img/chip-tarjeta.png" class="chip" alt="">
            <div class="datos">
                <div class="grupo" id="numero">
                    <p class="label">Número Tarjeta</p>
                    <p class="numero">#### #### #### ####</p>
                </div>
                <div class="flexbox">
                    <div class="grupo" id="nombre">
                        <p class="label">Nombre Tarjeta</p>
                        <p class="nombre">Star Pass</p>
                    </div>

                    <div class="grupo" id="expiracion">
                        <p class="label">Expiracion</p>
                        <p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
                    </div>
                </div>
            </div>
        </div>

  

  





