
<div class="conatiner">
<nav class="navbar navbar-expand-sm navbar-dark menu">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img class="Logo"  src="../../../assets/img/logitipo.png" alt="" width="416" height="66">
    </a>

    <h1 class="title">Seleccionar el metodo de pago</h1>

    <button class="navbar-toggler"
    type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toogle navigation">

    <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="listaMenu">
        <div class="iconUser"><i class="far fa-user-circle fa-3x" style="color: #F8F8F8; margin-right: 25px"></i></div>
        <form class="container-fluid justify-content-start">
        </form>
    </nav>
    </div>
</nav>
<div class="container">
</div>
<br>
<div>
    <div class="table-striped w-75 my-5 py-2 row flex-row align-items-center shadow-color bg-color">
        <div class="col-md-8mx-auto">
        </div>
        <div class="table-body col-md-0 col-sm-1"></div>
        <br>


<div class="flex-container">
    <div routerLink="/formulariopago" class="ov-btn-slide-left"><img src="../../../assets/img/maquina-de-tarjeta-de-credito.png" style="width: 85px;" alt=""> Tarjeta de Credito O Debito</div>
    <div class="ov-btn-slide-left"><img src="../../../assets/img/unnamed.png" style="width: 45%; margin-right: 8px;"  alt="1%">Efecty</div>
    <div class="ov-btn-slide-left"><img src="../../../assets/img/Imagen pse.png" style="width: 50%; ;"  alt="">Pagos Pse</div>  
</div>
</div>
</div>
