
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container-fluid" >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            
        <a 
            
            class="nav-link dropdown-toggle text-white navbar-city"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
        <i class="fas fa-map-marker-alt fa-2x"></i>
            CIUDAD
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarCity" style="border: #872657 2px ridge">
            <li class="dropdown-item" href="#">Bogotá</li>
            <li class="dropdown-item" href="#">Antioquia</li>
            <li class="dropdown-item" href="#">Manizales</li>

            
        </ul>
       
        
        </li>
        <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle text-white navbar-date"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
        <i class = "iconDate" class="far fa-calendar fa-2x"></i>
            FECHA
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDate" style="border: #872657 2px ridge">
            <li class="dropdown-item" href="#">September 18 del 2022</li>
            <li class="dropdown-item" href="#">September 17 del 2022</li>
            <li class="dropdown-item" href="#">March 18 del 2022</li>
        </ul>
        </li>
    </ul>
    </div>
    
</div>

</nav>
