* {
    margin: 0;
    padding: 0;
  }
  
.pageHome{
    background-color: #010038;
    width: 100%;
    height: auto;
}
  
section{
    min-height: 824px;
    background-color: #010038;
}

.viewEvent{
    padding: 40px;
    width: 100%;
    position: relative;
 }
.viewEvent-img{
    height: 685px;
    width: 500px;
    padding: 40px;
    margin-left: 98px;
    
   
}

.informationEvent-item{
    border-radius: 15px;
    background: linear-gradient(145deg, #90295d, #7a224e);
    box-shadow:  2px 2px 2px #73204a,
                 -2px -2px 2px #9b2c64;
    width: 46%;
    height: 800px;
    margin: 56px;
    margin-left: 20px;
    padding: 40px;
    float:right;
    
  }

.card-body{
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
    
}
.card-body .card-title {
display: flex;
justify-content: center;
align-items: center;

}

.card-body table{
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
}

.login-buton {
    padding-top: 20px;
    position: relative;
    padding: 9px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    background-color: #45046A;
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
    margin-left: 190px;
}
.table tr:hover{
color: #45046A;
}


.card-title Map{
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
    display: flex;
    text-align: end;
}

.titule-map {
    color: #EFF3F5;
    margin-right: 20%;
}



/* Seccion Recomendaciones*/

.tituleRecomendation{
    background-color: #45046A;
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
    text-align: center;
    height: 74px;
}

.card-titleRecomendation{
    padding: 30px;
}
.recomendationEvent-item{
    width: 46%;
    height: 608px;
    margin: 56px;
    margin-left: 20px;
    padding: 40px;
}
.map{
    height: 600px;
    width: 100%;
    margin: -305px;
    margin-left: 700px;
    float: left;
    display: flex;
    align-content: left;
} 

.card-titlemap{
    font-family: "League Gothic", sans-serif;;
    color: #ffff;
    text-align: left;
    margin-bottom: 12px;
}

.card-titlemap div{
    text-align: center;
}

/*Footer*/

:root{
    --color-esqueleto:#EFF3F5;
}

header{
    width: 100%;
    height: 60px;
    background: var(--color-esqueleto);
}

.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    height: 20%;
    padding: 25px 1px;
    background-image: url(../../../assets/img/background-footer.svg);
    background-size: cover;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    
    
  
}

.box__footer .logo img{
    width: 180px;
    
}



.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 400;
    color: black;
    font-size: 18px;
    font-family: "League Gothic", sans-serif;
}

.companytext{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 400;
    color: black;
    font-size: 18px;
    font-family: "League Gothic", sans-serif;

}

.box__footer h2{
    margin-bottom: 30px;
    color: black;
    font-weight: 600;
    font-family: "League Gothic", sans-serif;
    
    
}
.box__footer h3{
    margin-top: 7%;
    font-weight: 700; 
    color: black;
    font-family: "League Gothic", sans-serif;


}

.company{
    margin-top: 50px;
    margin-bottom: 6px;
    color: black;
    font-weight: 700;
    text-decoration: none;
   
}


.iconsSocialNetworks a:hover{
    color: #45046A;


}
.iconsSocialNetworks a{
    
    color: #872657 ;
    padding-left: 30px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    font-weight: 400;
    color: rgb(17, 17, 17);
    font-family: "League Gothic", sans-serif;

}

.box__copyright hr{
    border: none;
    height: 1px;
    color: black;
}
.box__footer logo{
    margin-bottom:  100px;
}