.login {
  background-color: #010038;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220vh;
}
.login-page {
  border-radius: 50px;
  background: linear-gradient(145deg, #7a224e, #90295d);
  box-shadow: 10px 10px 40px #73204a, -5px -5px 40px #9b2c64;
  height: 1180px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titule {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

label {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
}
p {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
}

.login-buton {
  padding-top: 20px;
  padding: 8px 36px;
  border-radius: 40px;
  border: none;
  background-color: #45046a;
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  margin-left: 12%;
  margin-right: 10%;
}

.iconsSocialNetworks a:hover {
  color: #45046a;
  border: none;
}
.iconsSocialNetworks a {
  color: #ffff;
  padding-left: 24px;
}
.iconsSocialNetworks i {
  color: #ffff;
  margin-bottom: 60px;
}

.form-group {
  padding: 4px;
}
.btn-facebook {
  background-color: #405d9d;
  color: #fff;
  border-radius: 10px;
}
.btn-google {
  background-color: #dd4b39;
  color: #fff;
  border-radius: 10px;
}
