<section class="login">
    <div class="login-page">
        <div class="login-form" center>
            <div>
                <p class="titule">REGISTRATE AHORA MISMO</p>
            </div>
            <br>
            <div class="iconsSocialNetworks">
                <a class="btn btn-social" href="#!"><i class="fab fa-facebook fa-4x"></i></a>
                <a class="btn btn-social" href="#!"><i class="fab fa-instagram fa-4x"></i></a>
                <a class="btn btn-social" href="#!"><i class="fab fa-twitter fa-4x"></i></a>
            </div>
            <div><a href="" class="btn btn-block btn-google" > <i class="fab fa-google"></i> Login via Google</a>
                
                <a href="" class="btn btn-block btn-facebook" style="
                margin-left: 10px;"> <i class="fab fa-facebook-f"></i> Login via
                    facebook</a>
            </div>
            <br>
            <form [formGroup]="loginRegisterForm" (ngSubmit)="registroUsuario()">
                <div class="form-group">
                    <label for="nombreCompleto">Nombres</label>
                    <input type="name" formControlName="nombreCompleto" class="form-control" id="exampleInputName" aria-describedby="name"
                        placeholder="nombre Completo">
                </div>

                <div class="form-group">
                    <label for="apellidoCompleto">Apellidos</label>
                    <input type="lastName" formControlName="apellidoCompleto" class="form-control" id="Inputlastname" aria-describedby="lastName"
                        placeholder="apellido Completo">
                </div>

                <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <input type="city" formControlName="ciudad"  class="form-control" id="InputCity" aria-describedby="city" placeholder="Ciudad">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input type="email" formControlName="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Correo">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Confirma tu mail </label>
                    <input type="email" formControlName="confirmarEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Confirma tu Correo">
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password"  class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Confirma tu Contraseña</label>
                    <input type="password" formControlName="confirmarPassword"  class="form-control" id="exampleInputPassword1"
                        placeholder="Confirma Contraseña">
                </div>
                <br>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto la politícas de privacidad</label>
                </div>
                <br>
                <br>
                <button class="login-buton" type="submit"> CREAR CUENTA STARPASS</button>
            </form>
            <br>
             <p>Estas aún click de las estrellas</p>
        </div>
    </div>
</section>