.login {
  background-color: #010038;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220vh;
}
.login-page {
  border-radius: 50px;
  /* background: linear-gradient(145deg, #7a224e, #90295d); */
  background-image: linear-gradient(180deg, #010038 12%, #45046a 50%, #872657 100%);
  box-shadow: 10px 10px 40px #73204a, -5px -5px 40px #9b2c64;
  height: 850px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titule {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

label {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
}
p {
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  text-align: center;
}

.login-buton {
  padding-top: 20px;
  padding: 8px 36px;
  border-radius: 40px;
  border: none;
  background-color: #45046a;
  font-family: "League Gothic", sans-serif;
  color: #ffff;
  margin-left: 12%;
  margin-right: 10%;
}


.iconsSocialNetworks i {
  color: #ffff;
  margin-left: 40px;
  margin-bottom: 60px;
  cursor: pointer;
}

.iconsSocialNetworks i:hover {
  background-color: #010038;
  border: none;
}


.form-group {
  padding: 5px;
}

.btn-facebook {
  background-color: #4363aa;
  color: #fff;
  border-radius: 10px;
  width: 350px
}

.btn-facebook:hover {
  background-color: #0c53ee;
}

.btn-google {
  background-color: #dd4b39;
  color: #fff;
  border-radius: 10px;
  margin-left: 10px;
  width: 350px;
  display: flex;
  justify-content: center;
}

.btn-google:hover{
  background-color: #ee240a;
}
