<div>
  <h1>VALIDA TU CUENTA</h1>
</div>

<div class="login">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h5>INGRESA CON</h5>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-user fa-2x"></i
              ></span>
            </div>
            <input [(ngModel)]="loginUser" type="text" class="form-control" placeholder="Correo" />
          </div>
          <br />
          <div class="input-group form-group">
            <br />
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-key fa-2x"></i
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
            />
          </div>
          <br />
          <br />
          <br />
          <div class="form-group">
            <b
              ><input
                routerLink="/formularioregistroboleta"
                type="submit"
                value="Validar"
                class="btn float-right login_btn"
            /></b>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          <a>Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
