<div class="lista-conciertos">
    <br>
    <div class="titulo">
      <h2>EVENTOS EN TU CIUDAD</h2>
    </div>

    <div class="concierto">
      <br>
      <h3>RATA BLANCA</h3>
      <h4 class="rb-lugar"><b>MANIZALES</b></h4>
      <hr>
      <img src="../../../assets/RataBlanca.jpg" alt="">
      <!-- <i class="fa-solid fa-calendar fa-4x"></i> -->
      <time datetime="2022-03-18" class="icon">
        <strong>MAR</strong>
        <span>18</span>
        <em>20:00 hrs</em>
      </time>
      <h2>TEATRO LOS FUNDADORES</h2>
      <button routerLink="/" class="boton-evento btn btn-dark"><b>VER EVENTO</b></button>
      <span>Rata Blanca Sur De America Tour 2022</span>
      <hr>
    </div>

    <div class="concierto">
      <h3>DUA LIPA</h3>
      <h4 class="dua-lugar"><b>BOGOTÁ</b></h4>
      <hr>
      <img src="../../../assets/DuaLipa.png" alt="">
      <!-- <i class="fa-solid fa-calendar fa-3x"></i> -->
      <time datetime="2014-09-20" class="icon">
        <strong>SEP</strong>
        <span>17</span>
        <em>19:00 hrs</em>
      </time>
      <h2>PARQUE SALITRE MÁGICO</h2>
      <button routerLink="/" class="boton-evento btn btn-dark"><b>VER EVENTO</b></button>
      <span>Dua Lipa - Future Nostalgia Tour 2022</span>
      <hr>
    </div>

    <div class="concierto">
      <H3>COLDPLAY</H3>
      <h4 class="cp-lugar"><b>BOGOTÁ</b></h4>
      <hr>
      <img src="../../../assets/ColdPlay.jpg" alt="">
      <!-- <i class="fa-solid fa-calendar fa-3x"></i> -->
      <time datetime="2014-09-20" class="icon">
        <strong>SEP</strong>
        <span>18</span>
        <em>16:30 hrs</em>
      </time>
      <h2>ESTADIO NEMESIO CAMACHO EL CAMPÍN</h2>
      <button routerLink="/" class="boton-evento btn btn-dark"><b>VER EVENTO</b></button>
      <span>Coldplay Tour 2022</span>
      <hr>
    </div>

    <div class="concierto">
      <H3>ENRIQUE BUMBURY</H3>
      <h4 class="bum-lugar"><b>MEDELLIN</b></h4>
      <hr>
      <img src="../../../assets/Bunbury.jpg" alt="">
      <!-- <i class="fa-solid fa-calendar fa-3x"></i> -->
      <time datetime="2014-09-20" class="icon">
        <strong>NOV</strong>
        <span>15</span>
        <em>23:50 hrs</em>
      </time>
      <h2>PARQUE NORTE MEDELLIN</h2>
      <button routerLink="/" class="boton-evento-cancel btn btn-dark text-danger"><b>CANCELADO</b></button>
      <span>Bumbury - Tour Posible 2022</span>
    </div>
    <br>
</div>

