<div class="navbar">
    <form class="bar d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar artistas /eventos" >
      <button class="btn me-2">Buscar</button>
      <!---Categorias-->
      <i class="fa-solid fa-star fa-2x fa-beat me-3"></i>
    </form>
      <a routerLink="/conciertosCategorias">CONCIERTOS</a>
      <a routerLink="/deportescategorias" >DEPORTES</a>
      <a routerLink="/teatroCategoria" >TEATRO</a>
      <a routerLink="/festivalescategoria" >FESTIVALES</a>
      <a routerLink="/culturalescategoria" >CULTURALES</a>
  </div>
