.navbar {
  /* background-color: #45046a; */
  background-image: linear-gradient(180deg, #872657 12%, #45046a 50%, #010038 100%);

  overflow: hidden;
}

.bar {
  margin-left: 20px;
  width: 350px;
}

.btn {
  background-color: #45046a;
  color: #fff;
}

.btn:hover {
  background-color: #872657;
  color: #fff;

}

i {
  color: #fadb5b;
}

.navbar a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: 20px;
  text-decoration: none;
  float: left;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  margin-top: 10px;
}

.navbar a:hover {
  /* background-color: #fadb5b; */
  box-shadow: 0 15px 15px 5px #FADB5E;
  /* background-color: #872657; */
  /* color: rgb(3, 3, 3); */
  color: #fff;
}
