<div class="navbar">
    <form class="bar d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar artistas /eventos" >
      <button class="btn me-2">Buscar</button>
      <i class="fa-solid fa-star fa-2x fa-beat me-3"></i>
    </form>
      <a routerLink="/conciertosCategoria">CONCIERTOS</a>
      <a routerLink="/deportes" >DEPORTES</a>
      <a routerLink="/teatroCategoria" >TEATRO</a>
      <a routerLink="/festivales" >FESTIVALES</a>
      <a routerLink="/culturales" >CULTURALES</a>
      <a routerLink="/comedia" >COMEDIA</a>
  </div>
